body { background-color: #ffffff; color: #666666; font: 16px/1.4 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; -webkit-text-size-adjust: none; }

.wrapper { margin: 0 auto; max-width: 860px; padding: 0 16px }

article { margin-top: 20px; margin-bottom: 40px; }
article > *:first-child { margin-top: 0; }

footer { -webkit-font-smoothing: subpixel-antialiased; }

footer p { font-size: 12px; line-height: 1.0em; margin: 0; }

/* Others */

a { color: #FF44AB; text-decoration: none; }

img { max-width: 100%; }

strong { font-weight: 500; }

hr { border: 0; background: #e5e5e5; height: 1px; margin: 0 0 20px; }

/* Headings */

h1, h2, h3, h4 { font-family: "Gill Sans"; font-weight: 200; margin-bottom: 10px; margin-top: 18px; }
h1 { color: #0EB1DC; font-size: 28px; }
h2 { color: #43C78B; font-size: 22px; }
h3 { color: #11CCFF; font-size: 19px; }
h4 { color: #11CCFF; font-size: 18px; }

/* Paragraphs */

p, dl, blockquote { margin: 0 0 20px; }
p a { text-decoration: underline; }

blockquote { background-color: #e5e5e5; border-left: 5px solid #43C78B; padding: 10px; }
blockquote p:last-child { margin-bottom: 0; }

dt { color: #444; font-weight: 700; }

/* Lists */

ul { list-style-type: square; padding-left: 1.0em; }

li { margin-bottom: 20px }
li p:last-child { margin-bottom: 0; }

/* Code */

code, pre { background: #f8f8f8; border: 1px solid #e5e5e5; border-radius: 5px; color: #333; font-family: monospace; }
code { display: inline-block; font-size: 16px; padding: 0 5px; vertical-align: middle; }

/* Warnings */

strong:first-child > em { background-color: #fff3cd; border: 1px solid #ffeeba; color: #856404; display: block; font-style: normal; font-weight: 400; padding: 10px 15px 10px 35px; }
strong:first-child > em:before { content: '\26A0'; font-size: 20px; font-weight: 400; margin-left: -25px; padding-right: 5px; }

@media (prefers-color-scheme: dark) {
    body { background-color: #000000; color: #aaaaaa; }
    
    hr { border: 0; background: #4b4b4b; height: 1px; margin: 0 0 20px; }
    
    code, pre { background: #333; border: 1px solid #3b3b3b; border-radius: 5px; color: #ddd; font-family: monospace; }
}
